.movies-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.movies-page h1 {
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  margin-bottom: 30px;
}

.search-box input {
  width: 260px;
  padding: 12px 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #222;
  color: white;
  font-size: 16px;
}

.search-box input::placeholder {
  color: #aaa;
}

.search-box input:focus {
  box-shadow: 0 0 8px red;
}

.search-box button {
  margin-left: 10px;
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  background: #e50914;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.search-box button:hover {
  background: #ff1f1f;
  transform: scale(1.05);
}

.movie-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
}

.movie-card {
  background: #222;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;

  color: white;
  text-decoration: none;
}

.movie-card h3 {
  margin: 15px 0 8px;
  font-size: 18px;
  color: white;
}

.movie-card p {
  color: #bbb;
  margin: 0;
  text-decoration: none;
}

.movie-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.751);
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 15px 0 8px;
  font-size: 18px;
}

.movie-card p {
  color: #bbb;
}

.default-msg {
  grid-column: 1 / -1;
  text-align: center;
  color: #aaa;
  font-size: 20px;
}



@media (max-width: 600px) {
  .movies-page {
    padding: 25px 15px;
  }

  .movies-page h1 {
    font-size: 24px;
  }

  .search-box {
    width: 100%;
  }

  .search-box input {
    width: 100%;
  }

  .movie-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .movie-card {
    padding: 10px;
  }

  .movie-card img {
    height: 220px;
  }

  .movie-card h3 {
    font-size: 15px;
  }
}